{% extends 'base.html' %}

{% load static %}

{% block page_content %}
<div class="container-fluid back_g_katalog_common " style="height: auto; min-height: 500px ;background: whitesmoke">
    <div class="row">
        <div class="col-lg-3" style="height:auto; background: whitesmoke">
            <div class="row" style="min-height: 60px;">
                <h5 style="text-align: center;padding: 10px;color: orange"> Выберите категорию:</h5>
            </div>
            <li class="marker_katalog" style="margin-top: -10px;;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К плугам' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К плугам</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К боронам' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К боронам</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К культиваторам' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К культиваторам</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К посевным' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К посевным агрегатам</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К косилкам' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К косилкам</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К граблям' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К граблям</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К пресс-подбор' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К пресс-подборщикам</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К кормоуборочным' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К кормоуборочным комбайнам</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К зерноуборочным' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К зерноуборочным комбайнам</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К картофелеуборочным' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К картофелеуборочной технике</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К разбрасывтелям' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К разбрасывателям</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'К тракторам' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">К тракторам</span>
                </a>
            </li>

            <li class="marker_katalog" style="margin-top: -5px;;color: orange">
                <a style="text-decoration: none" class="" href="{% url 'Метизы и расходные' %}">
                    <span style="font-size: smaller;color: black;font-weight: 500">Метизы и расходные материалы</span>
                </a>
            </li>
        </div>

        <div class="col-lg-9" style="height: auto;background: whitesmoke">
            <div class="row" style="background: whitesmoke;height: 60px;max-height: 60px">
                <h1 style="text-align: center; padding: 8px;"> Каталог запчастей</h1>
            </div>

            <div class="row tovar" style="height:auto;  background: whitesmoke ">

                {% for product_image in products_images %}
                <div class="col-lg-3" style="height: border-box; padding: 5px;">
                    <div class="product_item">
                        <a href="{% url 'товар' product_image.product.id  %}">
                            <div>
                                <img src="{{product_image.image.url}}" style="width: 150px;height: 100px;"
                                     class="img-responsive">
                            </div>
                        </a>
                        <h6 style="margin-top: -8px">{{product_image.product.name}} </h6>
                        <p style="color: orange">
                            {{product_image.product.articul}}
                        </p>
                    </div>
                </div>
                {% endfor %}

            </div>
            <!-- Переключатель страниц -->

            {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation">
                <ul class="pagination" style="justify-content: center;margin-top: 15px">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for p in products_images.paginator.page_range %}
                    {% if page_obj.number == p %}

                    <li class="page-item disabled">
                        <a class="page-link">{{p}}</a>
                    </li>

                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:+2 %}

                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{p}}</a></li>

                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}


                </ul>
            </nav>
            {% endif %}


        </div>

    </div>


</div>


{% endblock %}
